<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
		<httpRuntime executionTimeout="600" maxRequestLength="51200" />
		<compilation debug="true" targetFramework="4.0"/>
		<sessionState timeout="60" />
		<customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="AdminDBConnStr" value="Data Source=172.16.17.9;Initial Catalog=Agency_Admin;User Id=sa;Password=sasa" />
    <add key="CurrentAgencyDBConnStr" value="Data Source=172.16.17.9;Initial Catalog=AGN_^systemType^_^agencyId^;User Id=sa;Password=sasa" />
    <!--<add key="AdminDBConnStr" value="Data Source=.; Initial Catalog=Agency_Admin; Integrated Security=True;"/>
    <add key="CurrentAgencyDBConnStr" value="Data Source=.;Initial Catalog=AGN_^systemType^_^agencyId^;Integrated Security=True;"/>-->
    <!-- <add key="AdminDBConnStr" value="Data Source=.; Initial Catalog=Agency_Admin; Integrated Security=True;"/>
    <add key="CurrentAgencyDBConnStr" value="Data Source=.;Initial Catalog=AGN_INN_0007;Integrated Security=True;"/>-->
    <add key="Agency2000Ws.agency2000ws" value="http://web27.agency2000.co.il/Agency2000Ws_Test/agency2000ws.asmx"/>
  <!-- <add key="Agency2000Ws_Test.agency2000ws" value="http://web27.agency2000.co.il/Agency2000Ws_Test/agency2000ws.asmx"/> -->
  <add key="HotelControlPanelPassword" value="#yeshError500"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Agency2000WSSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="Agency2000WSSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://web27.agency2000.co.il/agency2000WS/agency2000ws.asmx" binding="basicHttpBinding" bindingConfiguration="Agency2000WSSoap" contract="Agency2000WS.Agency2000WSSoap" name="Agency2000WSSoap"/>
    </client>
  </system.serviceModel>
</configuration>